/* Home Hero Section  */

.gap_for_sticky_nav {
  margin-top: 105px;
}

@media screen and (max-width: 991px) {
  .gap_for_sticky_nav {
    margin-top: 108px;
  }
}

.hero_section .carousel-item {
  background: linear-gradient(to right, #c2ebff, #0b94f1);
}

.hero_section .hero_contents_wrap {
  display: flex;
  align-items: center;
  height: 750px;
  position: relative;
}

.hero_section .hero_contents_wrap .img_block img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}


.hero_section .carousel_caption {
  text-align: left;
  padding: 50px 0;
  position: relative;
  z-index: 2;
}

.hero_section .carousel_caption .title_1 {
  color: var(--primary);
  text-transform: uppercase;
}

.hero_section .carousel_caption .desc {
  color: #fff;
  font-size: 26px;
  margin-bottom: 0;
  margin: 20px 0;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background: var(--body);
  border: none;
  border-radius: 50%;
  opacity: .7;
}

.carousel-indicators .active {
  background: var(--primary);
  opacity: 1;
}


@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero_section .carousel_caption .title_1 {
    font-size: 54px;
  }

  .hero_section .carousel_caption .desc {
    font-size: 22px;
  }

  .hero_section .hero_contents_wrap .img_block img {
    height: 600px;
    width: auto;
    max-height: 100%;
    bottom: 0;
    top: unset;
  }
}

@media screen and (max-width: 1600px) {

  .hero_section .carousel-control-next-icon,
  .hero_section .carousel-control-prev-icon {
    display: none;
  }

  .hero_section .hero_contents_wrap {
    height: 650px;
  }
}

@media screen and (max-width: 1199px) {
  .hero_section .hero_contents_wrap .img_block img {
    height: 500px;
    width: auto;
    max-height: 100%;
    bottom: 0;
    top: unset;
  }

  .hero_section .hero_contents_wrap {
    align-items: flex-start;
  }

  .hero_section .carousel_caption .desc {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .hero_section .hero_contents_wrap {
    height: 600px;
  }

  .hero_section .hero_contents_wrap .img_block img {
    height: 450px;
  }
}

@media screen and (max-width: 767px) {
  .hero_section .carousel_caption {
    position: unset;
    transform: none;
    margin-bottom: 400px;
  }

  .hero_section .hero_contents_wrap {
    height: auto;
  }
}

@media screen and (max-width: 574px) {
  .hero_section .hero_contents_wrap .img_block img {
    width: 100%;
    height: auto;
  }

  .hero_section .carousel_caption .desc {
    font-size: 18px;
  }
}





.our_service .item {
  display: block;
  background: var(--body);
  border-radius: 6px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 5px 10px var(--box-shadow);

  transition: all .3s ease;
}

.our_service .item .icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 15px;
  border: 1px solid var(--primary-light);
  border-radius: 50%;

  transition: all .3s ease;
}

.our_service .item .item_title {
  font-size: 20px;
  color: var(--font);
  margin-top: 10px;
  margin-bottom: 0;
}

.our_service .item:hover .icon {
  background: var(--primary-light);
  transition: all .3s ease;
}

.our_service .item:hover .icon svg path {
  fill: var(--body);
  /* stroke: var(--body); */
}

.our_service .item:hover .icon .siding path {
  fill: var(--primary-light);
  stroke: var(--body);
}

.our_service .item:hover .item_title {
  color: var(--primary);
}


.our_service .item_new_construction {
  background-image: url('../img/want-to-start-new-construction.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 5px 10px var(--box-shadow);
  position: relative;
}

.our_service .item_new_construction .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #09428ad6 15.89%, #09428a5e 102%);
  border-radius: 6px;
}

.our_service .item_new_construction .contents {
  position: relative;
  z-index: 2;
}

.our_service .item_new_construction h4 {
  font-size: 32px;
  color: var(--body);
  margin-bottom: 20px;
}

.our_service .item_new_construction a {
  color: var(--body);
  font-size: 18px;
  text-transform: uppercase;
}

.our_service .item_new_construction a i {
  font-size: 24px;
  position: relative;
  top: 4px;
  line-height: 1;
}

.our_service .item_new_construction a:hover {
  color: var(--body);
  letter-spacing: 1px;
}


/* Estimate form start*/

.estimateForm_wrap {
  background: var(--primary);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}

.estimateForm_wrap .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  margin-bottom: 30px;
}

.estimateForm_wrap .header h4 {
  font-size: 28px;
  margin: 0;
}

.estimateForm_wrap .header .icon {
  display: inline-flex;
  width: 36px;
  height: 36px;
  color: var(--primary-light);
  border: 1px solid var(--primary-light);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 2px;
  line-height: 1;
}

.estimateForm_wrap .header .icon i {
  position: relative;
  top: 2px;
  font-size: 18px;
}

.estimateForm_wrap .form-control {
  border: 1px solid var(--body);
}

.estimateForm_wrap .check_services {
  background: var(--body);
  padding: 20px;
  border-radius: 6px;
  color: var(--font);
}

.estimateForm_wrap .check_services h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

.estimateForm_wrap .checkItems_wrap {
  display: flex;
  gap: 10px 0;
  flex-wrap: wrap;
}

.estimateForm_wrap .checkItems_wrap .checkItem {
  font-size: 14px;
  flex: 0 25%;
}

/* .estimateForm_wrap.lg .checkItems_wrap .checkItem {
  min-width: 120px;
} */


@media screen and (min-width: 992px) and (max-width: 1199px) {
  .estimateForm_wrap .checkItems_wrap .checkItem {
    flex: 0 33%;
  }
}

@media screen and (max-width: 574px) {
  .estimateForm_wrap .checkItems_wrap .checkItem {
    flex: 0 33%;
  }
}

@media screen and (max-width: 414px) {
  .estimateForm_wrap .checkItems_wrap .checkItem {
    flex: 0 50%;
  }
}

/* Custom Checkbox Start*/

.checkItem .custom_checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkItem .custom_checkbox label {
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.checkItem .custom_checkbox label:before {
  content: '';
  -webkit-appearance: none;
  background-color: var(--bg-light);
  border: 1px solid var(--primary);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}

.checkItem .custom_checkbox input:checked+label:before {
  background-color: var(--primary);
}


.checkItem .custom_checkbox input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid var(--body);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Custom Checkbox End */


.estimateForm_wrap .btn_submit {
  width: 100%;
  background: var(--secondary);
  color: var(--primary);
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px 20px;
  letter-spacing: .05em;

  transition: all .3s ease;
}

.estimateForm_wrap .btn_submit:active,
.estimateForm_wrap .btn_submit:hover {
  background: var(--primary-light);
  color: var(--body);
}

.estimateForm_wrap .form-control,
.estimateForm_wrap .form-select {
  font-size: 15px;
}

/* Estimate form end*/


/* Our Stat start  */

.our_stat .item {
  display: flex;
  gap: 10px 15px;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.our_stat .item .icon img {
  width: 60px;
}

.our_stat .item .detail .number {
  font-size: 42px;
  line-height: 1;
}

.our_stat .item .detail .desc {
  font-size: 15px;
  margin-bottom: 0;
  color: var(--secondary);
  margin-top: 5px;
}

@media screen and (min-width: 575px) and (max-width: 991px) {
  .our_stat .item {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 574px) {
  .our_stat .item {
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
}

/* Our Stat end */


/* About Archer start*/

.about_us .years_tag {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  color: var(--primary);
}

.about_us .years_tag img {
  width: 40px;
}

.sec_twoImg_block {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.sec_twoImg_block .img_item img {
  height: 400px;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.sec_twoImg_block .img_2 img {
  margin-top: 50px;
}

@media screen and (max-width: 574px) {
  .sec_twoImg_block .img_item img {
    height: 300px;
  }
}

/* About Archer end*/



/* Archie Batch Start  */

.archi_batch .left h5 {
  max-width: 470px;
  line-height: 1.5;
}

.archi_batch .left .phn {
  color: var(--primary-v3);
  font-size: 28px;
  margin-top: 10px;
  font-weight: 600;
}

.archi_batch .left .phn i {
  position: relative;
  top: 4px;
}

.archi_batch .right {
  position: relative;
  text-align: right;
}

.archi_batch .right .archi img {
  position: absolute;
  bottom: -90px;
  right: 175px;
}

.archi_batch .right .btn_one {
  margin-top: 50px;
}

.white_strip {
  background: var(--body);
  height: 60px;
}

.light_strip {
  background: var(--bg-light);
  height: 60px;
}

@media screen and (max-width: 991px) {
  .archi_batch .right {
    text-align: left;
  }

  .archi_batch .right .archi {
    text-align: left;
  }

  .archi_batch .right .archi img {
    position: unset;
    width: 180px;
    height: auto;
  }

  .archi_batch .right .btn_one {
    position: relative;
    left: 180px;
    top: -120px;
    margin-top: 0;
  }

  .white_strip,
  .light_strip {
    display: none;
  }

}

/* Archie Batch End  */


/* Why Choose Us Start  */

.img_block_with_batch .batch {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--primary);
  color: var(--body);
  padding: 6px 50px 6px 6px;
}

.why_choose_us .item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.why_choose_us .item .icon img {
  width: 50px;
}

.why_choose_us .item .detail h4 {
  font-size: 20px;
  margin-bottom: 0px;
}

.why_choose_us .item .detail p {
  font-size: 15px;
  margin-bottom: 0;
}

@media screen and (min-width: 991px) {
  .linear_sec {
    background: linear-gradient(to right, var(--primary-light) 30%, var(--body) 30%);
  }

  .img_block_with_batch {
    margin-bottom: -70px;
  }

  .img_block_with_batch .block_img {
    height: 450px;
  }
}

/* Why Choose Us End */


/* Accolade Start  */

.accolade_slider .item {
  text-align: center;
}

.accolade_slider .item img {
  max-width: 150px;
  transition: opacity 0.2s ease-in-out;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary);
}


/* Accolade End */


/* Recent Project Start */


/* Light-gallery buttons  */
.lg-next::before {
  content: "\f19b";
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.lg-prev::after {
  content: "\f197";
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.lg-toolbar .lg-icon {
  font-size: 18px;
}

.lg-toolbar .lg-download::after {
  content: "\f591";
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.lg-toolbar .lg-close::after {
  content: "\f4f7";
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* Light-gallery buttons  */


.gallery_slider .item {
  position: relative;
}

.gallery_slider .item img {
  border-radius: 6px;
}

.gallery_slider .item .item_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--layer-primary);
  color: #fff;
  padding: 20px;
  border-radius: 6px;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease, transform 0.3s ease;
}

.gallery_slider .item:hover .item_layer {
  opacity: 1;
  visibility: visible;
}



.gallery_slider .item .item_layer .contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.gallery_slider .item .item_layer .contents .icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
  align-items: flex-end;
}

.gallery_slider .item .item_layer .contents .icons .link {
  display: inline-flex;
  background: var(--body);
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  line-height: 1;
  color: var(--font);
}

.gallery_slider .item .item_layer .contents .icons .link:hover {
  color: var(--primary);
  transform: scale(1.05);
  transition: all .3s ease;
}

.gallery_slider .item .item_layer .contents .captions h4 {
  font-size: 20px;
  margin-bottom: 4px;
}

.gallery_slider .item .item_layer .contents .captions p {
  font-size: 14px;
  margin-bottom: 0;
}


.gallery_slider .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background: var(--body);
  border: none;
  border-radius: 50%;
  opacity: .7;
}

.gallery_slider .carousel-indicators .active {
  background: var(--primary);
  opacity: 1;
}


@media screen and (max-width: 991px) {
  .gallery_slider .item .item_layer .contents .icons .expand {
    display: none;
  }
}


/* Recent Project End */



/* Review Section Start  */

.reviews .reviews_platform {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.reviews .reviews_platform .item {
  display: inline-block;
  background: var(--body);
  padding: 6px 12px;
  border-radius: 3px;
}

.reviews .reviews_platform .item img {
  max-height: 40px;
}



.reviews_slider .owl-stage {
  display: flex;
}

.reviews_slider .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background: var(--body);
  padding: 20px;
  border-radius: 4px;
  height: 100%;
}


.reviews_slider .item .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-dark);
}

.reviews_slider .item .header .left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.reviews_slider .item .header .left .img {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 50%;
  line-height: 1;
}

.reviews_slider .item .header .left .details h6 {
  font-size: 16px;
  margin-bottom: 2px;
  color: var(--primary);
}

.reviews_slider .item .header .left .details p {
  font-size: 12px;
  color: var(--font);
  margin: 0;
}

.reviews_slider .item .item_body {
  padding: 15px 0;
  flex-grow: 2;
}

.reviews_slider .item .item_body .ratings {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.reviews_slider .item .item_body .ratings li i {
  color: var(--rating);
}

.reviews_slider .item .item_body .ratings li i {
  color: var(--rating);
}

.reviews_slider .item .item_body .desc {
  color: var(--font);
  font-size: 15px;
  margin-bottom: 0;
}

.reviews_slider .item .item_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews_slider .item .item_footer .read_more {
  color: var(--primary);
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
}

.reviews_slider .item .item_footer .read_more:hover {
  color: var(--primary-light);
}

.reviews_slider .item .item_footer .quote {
  width: 20px;
}



/* Review Section End  */



/* Activities Section Start  */

.section.activities {
  overflow: hidden;
}

@media screen and (min-width: 1600px) {
  .activities_slider_wrapper {
    width: calc(100% + 300px);
  }
}

.activities_slider .item {
  position: relative;
}

.activities_slider .item .item_img img {
  border-radius: 6px;
}

.activities_slider .item .item_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--layer-primary);
  color: #fff;
  padding: 20px;
  border-radius: 6px;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease, transform 0.3s ease;
}

.activities_slider .item:hover .item_layer {
  opacity: 1;
  visibility: visible;
}

.activities_slider .item .item_layer .contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.activities_slider .item .item_layer .contents h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.activities_slider .item .item_layer .contents p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}

.activities_slider .item .item_layer .contents .link {
  display: inline-flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--body);
  color: var(--primary);
  font-size: 24px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin-top: 15px;
}

.activities_slider .item .item_layer .contents .link:hover {
  background: var(--primary);
  color: var(--body);
}

.activities .owl-carousel__nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.activities .owl-carousel__nav .control {
  display: inline-flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--body);
  color: var(--primary);
  border: 1px solid var(--font);
  font-size: 16px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;
}

.activities .owl-carousel__nav .control:hover {
  background: var(--primary);
  color: var(--body);
  border: 1px solid var(--primary);
}

/* Activities Section End */


#backToTop {
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color: var(--primary);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
}

#backToTop:hover {
  background-color: var(--primary-light);
}

#backToTop:active {
  background-color: var(--primary-light);
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}




/* Services Root Page Start  */

.services_hero {
  background-image: url(../img/services/hero-banner-service1.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  min-height: 750px;
}


.services_hero .title_1 {
  color: var(--primary);
  margin-top: 50px;
  text-transform: uppercase;
}

.services_stat .item_row {
  display: flex;
  gap: 30px 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services_stat .item_row .item {
  display: flex;
  gap: 10px;
  align-items: center;
  min-width: 250px;
}

.services_stat .item_row .item .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: var(--body);
  border-radius: 50%;
}

.services_stat .item_row .item .svg {
  width: 40px;
}

.services_stat .item_row .item:hover .icon {
  background: var(--primary-light);
  transition: all .3s ease;
}

.services_stat .item_row .item:hover .icon svg path {
  fill: var(--body);
}

.services_stat .item_row .item:hover .icon .siding path {
  fill: var(--primary-light);
  stroke: var(--body);
}

.services_stat .item_row .item .number {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 4px;
  line-height: 1;
}

.services_stat .item_row .item .desc {
  font-size: 15px;
  margin: 0;
  color: var(--secondary);
}


.single_service .title_3,
.single_service .title_4 {
  color: var(--primary);
}

.single_service .list_items {
  display: flex;
  align-items: center;
  gap: 15px 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.single_service .list_items .item {
  flex: 0 45%;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--bg-light);
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;

  transition: all .3s ease;
}

.single_service.light .list_items .item {
  background: var(--body);
}

.single_service .list_items .item:hover {
  -webkit-transform: translateY(calc(-1rem / 5));
  transform: translateY(calc(-1rem / 5));
  -webkit-box-shadow: 0 5px 10px var(--box-shadow);
  box-shadow: 0 5px 10px var(--box-shadow);
}

.single_service .list_items .item .icon img {
  width: 50px;
}

.single_service .list_items.w_75 .item {
  flex: 0 70%;
}

@media screen and (max-width: 767px) {
  .services_hero {
    background-image: url(../img/services/mobile-hero-banner-service1.png);
    min-height: 600px;
  }

  .services_hero .title_1 {
    margin-top: 0;
  }
}


@media screen and (max-width: 574px) {

  .single_service .list_items .item,
  .single_service .list_items.w_75 .item {
    flex: 0 100%;
  }

}

/* Services Root Page End  */



/* Accolade Marque Slider Start  */

.accolade_marque {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 20px;
}

.accolade_marque_inner {
  display: flex;
  gap: 40px;
  position: relative;
}

.accolade_marque_inner img {
  width: auto;
  flex-shrink: 0;
  border: 1px solid var(--border);
  border-radius: 50%;
}

@media screen and (max-width: 574px) {
  .accolade_marque_inner img {
    width: 100px;
  }
}

/* Accolade Marque Slider End  */


/* FAQ Section Start  */

.faq_wrap .nav-tabs {
  justify-content: center;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 5px;
}

.faq_wrap .nav-tabs .nav-link {
  color: var(--font);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border: 0;
  position: relative;
}

.faq_wrap .nav-tabs .nav-link.active,
.faq_wrap .nav-tabs .nav-link:hover,
.faq_wrap .nav-tabs .nav-link:focus {
  color: var(--primary);
  background-color: transparent;
  border: 0;
}

.faq_wrap .nav-tabs .nav-link.active::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -21px;
  left: 50%;
  border: 8px solid rgba(0, 0, 0, 0.7);
  border-top-color: rgba(0, 0, 0, 0.7);
  border-right-color: rgba(0, 0, 0, 0.7);
  border-bottom-color: rgba(0, 0, 0, 0.7);
  border-left-color: rgba(0, 0, 0, 0.7);
  border-color: transparent transparent var(--primary) var(--primary);
  transform-origin: 0 0;
  transform: rotate(135deg) translate(-8px, -8px);
}


.faq_wrap .accordion-item:first-of-type>.accordion-header .accordion-button,
.faq_wrap .accordion-item:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.faq_wrap .accordion-button {
  font-size: 20px;
}

.faq_wrap .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: var(--primary);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--border);
}

.faq_wrap .accordion-button:focus {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--border);
}

.faq_wrap .accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "\f150";
  font-family: uicons-regular-straight !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: var(--primary);
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
}

.faq_wrap .accordion-button::after {
  background-image: none;
  content: "\f150";
  font-family: uicons-regular-straight !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: var(--secondary);
  color: var(--font);
  border-radius: 50%;
  font-size: 16px;
}

.faq_wrap .accordion-body {
  font-size: 16px;
  line-height: 1.7;
}

.faq_wrap .accordion-body a {
  color: var(--primary);
}

.faq_wrap .accordion-body a:hover {
  color: var(--primary-light);
}

.accordion-button:focus {
  box-shadow: none;
}



@media screen and (max-width: 991px) {
  .faq_wrap .nav-tabs .nav-link.active::before {
    display: none;
  }
}

@media screen and (max-width: 574px) {
  .faq_wrap .accordion-body {
    font-size: 15px;
  }

  .faq_wrap .accordion-button {
    font-size: 18px;
  }
}

/* FAQ Section End  */



/* Roofing Service Page Start  */

.single_service_hero {
  background: linear-gradient(to right, #c2ebff, #0b94f1);
  padding: 100px 0;
}

.single_service_hero .hero_slider .carousel-item img {
  height: 500px;
  width: auto;
}

.single_service_hero .hero_slider .carousel-indicators {
  bottom: -50px;
}

.single_service_hero .content_box {
  margin: auto 0;
}

.single_service_hero .content_box .title_1 {
  color: var(--primary);
  text-transform: uppercase;
  text-align: left;
}

.single_service_hero .content_box .desc {
  color: #fff;
  font-size: 26px;
  margin-bottom: 0;
  margin: 20px 0;
}

/* Process Steps  */

.service_steps .item {
  background: var(--body);
  padding: 15px;
  border-radius: 4px;
  height: 100%;

  transition: all .3s ease;
}

.service_steps .item:hover {
  -webkit-transform: translateY(calc(-1rem / 5));
  transform: translateY(calc(-1rem / 5));
  -webkit-box-shadow: 0 5px 10px var(--box-shadow);
  box-shadow: 0 5px 10px var(--box-shadow);
}

.service_steps .item .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.service_steps .item .header .icon img {
  width: 64px;
}

.service_steps .item .header .step_badge {
  display: inline-block;
  background: var(--primary);
  color: var(--secondary);
  padding: 10px 6px 20px 6px;
  border-radius: 0 0 50px 50px;
  position: absolute;
  right: 5px;
  top: -15px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.service_steps .item .header .step_badge .step {
  font-size: 20px;
  font-weight: bold;
  color: var(--body);
}

.service_steps .item .details h4 {
  font-size: 18px;
  color: var(--font);
  margin-bottom: 10px;
}

.service_steps .item .details p {
  font-size: 15px;
  color: var(--font);
  margin-bottom: 0;
}



/* Before After css start */

.image-comparison {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.image-comparison__slider-wrapper {
  position: relative;
  height: 100%;
}

.image-comparison__label {
  font-size: 0;
  line-height: 0;
}

.image-comparison__label,
.image-comparison__range {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;
  outline: none;
  cursor: ew-resize;
  z-index: 20;
}


.image-comparison__range:active~.image-comparison__slider .image-comparison__thumb,
.image-comparison__range:focus~.image-comparison__slider .image-comparison__thumb,
.image-comparison__range--active~.image-comparison__slider .image-comparison__thumb {
  transform: scale(0.8);
  background-color: rgba(0, 97, 127, 0.5);
}

.image-comparison__image-wrapper--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% + 1px);
  height: 100%;
  overflow: hidden;
}

.image-comparison__figure {
  height: 100%;
  margin: 0;
  position: relative;
  padding-top: 66.666666667%;
}

.image-comparison__figure::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.image-comparison__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
  overflow: hidden;
}

.image-comparison__caption {
  position: absolute;
  bottom: 12px;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.image-comparison__caption--before {
  left: 12px;
  z-index: 2;
}

.image-comparison__caption--after {
  right: 12px;
  text-align: right;
}

.image-comparison__caption-body {
  max-width: 40vmin;
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.55);
}

.image-comparison__slider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
  z-index: 10;
}

.image-comparison__range--active~.image-comparison__slider {
  background-color: rgba(255, 255, 255, 0);
}

.image-comparison__thumb {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: #fff;
  border-radius: 50%;
  line-height: 1;
  font-size: 20px;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.5);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.image-comparison__range::-webkit-slider-runnable-track {
  width: 40px;
  height: 40px;
  opacity: 0;
}

.image-comparison__range::-moz-range-thumb {
  width: 40px;
  height: 40px;
  opacity: 0;
}

.image-comparison__range::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  opacity: 0;
}

.image-comparison__range::-ms-fill-lower {
  background-color: transparent;
}

.image-comparison__range::-ms-track {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: transparent;
  outline: none;
  cursor: col-resize;
}

.image-comparison__range::-ms-thumb {
  width: 0.5%;
  height: 100%;
  opacity: 0;
}

.image-comparison__range::-ms-tooltip {
  display: none;
}

/* Before After css end */


/* Visualize Tool Start */

.visualize_tool .service-selector .options {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.visualize_tool .service-selector .options .item {
  display: flex;
  gap: 5px;
  flex-direction: column;
  font-size: 16px;
  color: var(--font);
  cursor: pointer;
  border-radius: 3px;
}

.visualize_tool .service-selector .options .item img {
  width: 120px;
  border: 1px solid var(--border);
  padding: 4px;
  border-radius: 3px;
}

.visualize_tool .service-selector .options .item .name {
  display: inline-block;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.visualize_tool .service-selector .options .item.selected img {
  border-color: var(--primary-light);
  background: var(--primary-light);
}

.visualize_tool .preview img {
  border-radius: 10px;
}

.material_colors .color-options {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}


.material_colors .color-options .item span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.material_colors .color-options .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}

.material_colors .color-options .item.selected {
  border: 1px solid var(--primary-light);
}

/* color set  */
.color-options .gray span {
  background: #596164;
}

.color-options .brown span {
  background: #564940;
}

.color-options .hunter-green span {
  background: #344b3a;
}

.color-options .hickroy span {
  background: #66442f;
}

.color-options .shake-wood span {
  background: #927455;
}

.color-options .slate span {
  background: #6f7470;
}

/* Visualize Tool End */



/* Projects gallery  */

.projects_gallery .lg-sub-html {
  display: none !important;
}

.projects_gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.gallery-item {
  display: block;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}


.gallery-item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.gallery-item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.gallery-item:nth-child(3) {
  grid-area: 1 / 3 / 3 / 5;
}

.gallery-item:nth-child(4) {
  grid-area: 2 / 1 / 4 / 3;
}

.gallery-item:nth-child(5) {
  grid-area: 3 / 3 / 4 / 4;
}

.gallery-item:nth-child(6) {
  grid-area: 3 / 4 / 4 / 5;
}

.gallery-item:nth-child(7) {
  grid-area: 4 / 3 / 6 / 5;
}

.gallery-item:nth-child(8) {
  grid-area: 4 / 1 / 5 / 2;
}

.gallery-item:nth-child(9) {
  grid-area: 4 / 2 / 5 / 3;
}

.gallery-item:nth-child(10) {
  grid-area: 5 / 1 / 7 / 3;
}

.gallery-item:nth-child(11) {
  grid-area: 6 / 3 / 7 / 4;
}

.gallery-item:nth-child(12) {
  grid-area: 6 / 4 / 7 / 5;
}



/* Finance Option sec start  */

.full_section .outer-container {
  position: relative;
  min-height: 250px;
  display: flex;
}

.full_section .image-column {
  position: relative;
  width: 50%;
  background-image: url('../img/siding-service/massonry-option.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.full_section .image-column .thumb_box {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 150px;
  padding: 20px;
  text-align: center;
  background: var(--primary);
  color: #fff;
}

.full_section .image-column .thumb_box img {
  display: block;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.full_section .content-column {
  position: relative;
  width: 50%;
}

.full_section .content-column .inner-column {
  position: relative;
  max-width: 660px;
  float: left;
  width: 100%;
  padding: 150px 15px 150px 180px;
}

@media screen and (max-width: 1399px) {
  .full_section .content-column .inner-column {
    padding: 150px 100px 150px 120px;
  }

  .full_section .image-column .thumb_box {
    right: -70px;
  }
}

@media screen and (max-width: 991px) {
  .full_section .outer-container {
    flex-direction: column;
  }

  .full_section .image-column {
    height: 500px;
    width: 100%;
  }

  .full_section .image-column .thumb_box {
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    width: 240px;
  }

  .full_section .content-column {
    width: 100%;
  }

  .full_section .content-column .inner-column {
    max-width: 720px;
    float: unset;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;

    --bs-gutter-x: 1.5rem;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
  }
}

@media screen and (max-width: 767px) {
  .full_section .content-column .inner-column {
    max-width: 540px;
  }
}

/* Finance Option sec end  */


/* Roofing Service Page End */



/* Siding Service Page Start */

.single_service_hero.siding {
  background-image: url(../img/siding-service/hero-banner1.png);
}

.service_details .benefits_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 0;
  justify-content: space-between;
}

.service_details .benefits_wrap .item {
  flex: 0 31%;
  background: var(--body);
  padding: 10px;
  text-align: center;
  position: relative;
  border: 1px solid var(--border-light);
  border-radius: 4px;

  -webkit-box-shadow: 0 5px 10px var(--box-shadow);
  box-shadow: 0 5px 10px var(--box-shadow);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.service_details .benefits_wrap .item .icon {
  background: var(--primary-light);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);

  -webkit-transition: all .3s ease;
  transition: all .3s ease;

}

.service_details .benefits_wrap .item .icon img {
  width: 32px;
}

.service_details .benefits_wrap .item .details h4 {
  border-color: var(--font);
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: 35px;
}

.service_details .benefits_wrap .item .details p {
  border-color: var(--font);
  font-size: 15px;
  margin-bottom: 0;
}

.service_details .benefits_wrap .item:hover {
  background: var(--primary-light);
  color: #fff;
}

.service_details .benefits_wrap .item:hover .icon {
  background: var(--primary);
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
  .service_details .benefits_wrap .item {
    flex: 0 45%;
  }
}

@media screen and (max-width: 767px) {
  .service_details .benefits_wrap .item {
    flex: 0 47%;
  }
}

@media screen and (max-width: 414px) {
  .service_details .benefits_wrap .item {
    flex: 0 100%;
  }
}




/* Reverse Card Start  */

.reverse_cards {
  display: flex;
  flex-wrap: wrap;
}

.reverse_cards .item {
  flex: 0 50%;
  padding: 30px;
}

.reverse_cards .item .header {
  margin-bottom: 10px;
  color: var(--primary);
  display: flex;
  gap: 10px;
  align-items: center;
}

.reverse_cards .item .header h4 {
  margin: 0;
}

.reverse_cards .item .header .icon {
  background: var(--body);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border: 1px solid var(--primary-light);
  border-radius: 50%;
}

.reverse_cards .item .header .icon img {
  width: 32px;
}

.reverse_cards .item .details p {
  margin-bottom: 0;
  line-height: 1.7;
}

.reverse_cards .item .details ul li {
  margin-top: 5px;
  display: flex;
  gap: 6px;
}

.reverse_cards .item .details ul li i {
  color: var(--primary-light);
  position: relative;
  top: 2px;
}

.reverse_cards .item .details ul li b {
  font-weight: 600;
}

.reverse_cards .item:nth-child(2),
.reverse_cards .item:nth-child(3) {
  background: var(--primary-light);
  color: var(--body);
}

.reverse_cards .item:nth-child(2) .header,
.reverse_cards .item:nth-child(3) .header {
  color: var(--body);
}

.reverse_cards .item:nth-child(2) .header .icon,
.reverse_cards .item:nth-child(3) .header .icon {
  border-color: var(--body);
}

@media screen and (max-width: 767px) {
  .reverse_cards {
    gap: 20px;
  }

  .reverse_cards .item {
    flex: 0 100%;
    border: 1px solid #6895cf29;
    border-radius: 4px;
  }

  .reverse_cards .item:nth-child(3) {
    background: var(--body);
    color: var(--font);
  }

  .reverse_cards .item:nth-child(3) .header {
    color: var(--primary);
  }

  .reverse_cards .item:nth-child(3) .header .icon {
    border-color: var(--primary-light);
  }

  .reverse_cards .item:nth-child(4) {
    background: var(--primary-light);
    color: var(--body);
  }

  .reverse_cards .item:nth-child(4) .header {
    color: var(--body);
  }

  .reverse_cards .item:nth-child(4) .header .icon {
    border-color: var(--body);
  }

  .reverse_cards .item:nth-child(4) .details ul i {
    color: var(--body);
  }

}

/* Reverse Card End  */

/* Siding Color Sets  */

.color-options .arctic-white span {
  background: #e0e0d8;
}

.color-options .cobble-stone span {
  background: #c6beb0;
}

.color-options .navajo-beige span {
  background: #d5c9b2;
}

.color-options .khaki-brown span {
  background: #a28f7d;
}

.color-options .monterey-taupe span {
  background: #a19a8b;
}

.color-options .timber-bark span {
  background: #7b7064;
}

.color-options .rich-espresso span {
  background: #5f5a55;
}

.color-options .mountain-sage span {
  background: #706f5e;
}

.color-options .light-mist span {
  background: #b6bab5;
}

.color-options .pearl-gray span {
  background: #b2aea9;
}


/* Siding Service Page End */



/* Window Service Page Start  */


/* Why Choose Us  */

.why_choose .item {
  background: var(--body);
  padding: 15px;
  text-align: center;
  position: relative;
  border: 1px solid var(--border-light);
  border-radius: 4px;
  height: 100%;

  -webkit-box-shadow: 0 5px 10px var(--box-shadow);
  box-shadow: 0 5px 10px var(--box-shadow);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.why_choose .item .icon {
  background: var(--primary-light);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;

  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);

  -webkit-transition: all .3s ease;
  transition: all .3s ease;

}

.why_choose .item .icon img {
  width: 32px;
}

.why_choose .item .details h4 {
  border-color: var(--font);
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 35px;
}

.why_choose .item .details p {
  border-color: var(--font);
  font-size: 15px;
  margin-bottom: 0;
}

.why_choose .item:hover {
  background: var(--primary-light);
  color: #fff;
}

.why_choose .item:hover .icon {
  background: var(--primary);
}



/* Types Card  */

.types_cards .item_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: var(--body);
  text-align: center;
  background: var(--primary);
  border-radius: 4px;
}

.types_cards .item_inner * {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.types_cards .item_inner img {
  width: 100%;
  position: relative;
  opacity: 0.8;
  border-radius: 4px;
}

.types_cards .item_inner .captions {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid var(--body);
  border-width: 1px 1px 0;
}

.types_cards .item_inner .captions .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.types_cards .item_inner .captions h4 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}


.types_cards .item_inner .captions h4:before,
.types_cards .item_inner .captions h4:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}

.types_cards .item_inner .captions h4:before {
  left: -1000%;
}

.types_cards .item_inner .captions h4:after {
  right: -1000%;
}

.types_cards .item_inner .captions h4:after {
  right: -1000%;
}


.types_cards .item_inner .captions .desc {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  font-size: 16px;
}

.types_cards .item_inner a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.types_cards .item_inner:hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.types_cards .item_inner:hover .captions {
  top: 7%;
  bottom: 7%;
}

.types_cards .item_inner:hover .desc {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

@media screen and (max-width: 991px) {
  .types_cards .item_inner .captions {
    top: 90%;
    border: 0;
  }
}


.full_section.window_replacement .image-column {
  background-image: url('../img/window-service/our-expertise.jpg');
}

.single_service.window_replacement .list_items .item {
  flex: 0 100%;
}

.full_section.window_replacement .content-column .inner-column {
  padding: 100px 15px 100px 180px;
}

@media screen and (max-width: 1399px) {
  .full_section.window_replacement .content-column .inner-column {
    padding: 60px 15px 60px 120px;
  }
}

@media screen and (max-width: 991px) {
  .full_section.window_replacement .content-column .inner-column {
    padding: 40px;
  }
}

@media screen and (max-width: 574px) {
  .full_section.window_replacement .content-column .inner-column {
    padding: 40px 20px;
  }
}


/* Finance + Warranty + Tracking Section  */

.finance_section .item {
  display: flex;
  background: var(--body);
  border: 1px solid var(--border);
  border-radius: 4px;
  height: 100%;
  box-shadow: 0 5px 10px var(--box-shadow);
}

.finance_section .item .img {
  flex: 0 0 auto;
}

.finance_section .item .img img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px 0 0 4px;
}

.finance_section .item .details {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.finance_section .item .details .title {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 10px;
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .finance_section .item .details .title {
    font-size: 20px;
  }

  .finance_section .item .details .lead {
    font-size: 14px;
  }

  .finance_section .item .details .lead,
  .btn_one {
    font-size: 14px;
  }
}

@media screen and (max-width: 499px) {
  .finance_section .item {
    flex-direction: column;
  }

  .finance_section .item .img img {
    display: none;
  }
}

/* Window Service Page End  */


/* Door Service Page  Start*/

.full_section.door_service .image-column {
  background-image: url('../img/door-service/archer-door-services.png');
}

.single_service.door_service .list_items .item {
  flex: 0 100%;
}




@media screen and (min-width: 992px) {
  .befor_after.door .image-comparison {
    height: 600px;
  }

  .befor_after.door .image-comparison__image {
    width: 800px;
    height: 600px;
  }

}

/* Door Service Page  End*/

.why_choose_us.for_deck .item {
  align-items: flex-start;
}

.why_choose_us.for_deck .item .detail h4 {
  font-size: 20px;
}

.full_section.deck_service .image-column {
  background-image: url('../img/deck-service/archer-deck-services.jpg');
}




/* Special Offer  */

#special-offer-btn {
  position: fixed;
  top: 40%;
  right: 0;
  background-color: var(--alert);
  color: var(--body);
  padding: 15px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  cursor: pointer;
  z-index: 1001;
  font-weight: bold;
  border-radius: 8px 0 0 8px;
}

#offer-panel-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

#offer-panel {
  position: fixed;
  top: 0;
  right: -600px;
  width: 600px;
  height: 100vh;
  background: var(--body);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1002;
  padding: 30px;
  overflow-y: auto;
}

#offer-panel.active {
  right: 0;
}

#offer-panel .close-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  cursor: pointer;
  background: var(--bg-light);
  padding: 5px 10px;
  border-radius: 5px;
}

#offer-panel h2 {
  color: var(--primary);
  margin-top: 50px;
}

#offer-panel button {
  margin-top: 20px;
  padding: 12px 20px;
  background: var(--alert);
  color: var(--body);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 649px) {
  #offer-panel {
    width: 90%;
  }
}

/* Special Offer End  */


.single_service_hero.gutter {
  background-image: url('../img/gutter-service/archer-exterior-gutters-hero-banner2.png');
  padding: 250px 0;
}

.when_to_replace_cards .item {
  height: 100%;
  text-align: center;
  background: var(--body);
  box-shadow: 0 5px 10px var(--box-shadow);
  border-radius: 4px;
  transition: all .3s ease;
}

.when_to_replace_cards .item:hover {
  -webkit-transform: translateY(calc(-1rem / 5));
  transform: translateY(calc(-1rem / 5));
  -webkit-box-shadow: 0 5px 10px var(--box-shadow);
  box-shadow: 0 5px 10px var(--box-shadow);
}

.when_to_replace_cards .item .img img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.when_to_replace_cards .item .details {
  padding: 20px 15px;
}

.when_to_replace_cards .item .details h4 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 10px;
}

.when_to_replace_cards .item .details p {
  margin-bottom: 0;
}

.repair_solutions .when_to_replace_cards .item {
  position: relative;
}

.repair_solutions .when_to_replace_cards .item .icon {
  background: var(--primary-light);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  position: relative;
  top: -50px;

  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.repair_solutions .when_to_replace_cards .item .icon img {
  width: 60px;
}

.repair_solutions .when_to_replace_cards .item .details {
  margin-top: -50px;
}

.repair_solutions .when_to_replace_cards .item:hover .icon {
  background: var(--primary);
}



.full_section.repair_service {
  background: var(--bg-light);
}

.full_section.repair_service .image-column {
  background-image: url('../img/repair-service/causes/common-causes.jpg');
}

.full_section.repair_service .content-column .inner-column {
  padding: 120px 15px 120px 100px;
}

.full_section.repair_service .list_items .item {
  background: var(--body);
  border-color: var(--body);
}

@media screen and (max-width: 991px) {
  .full_section.repair_service .content-column .inner-column {
    padding: 40px;
  }
}


/* Company Page Start */

.hero_section.page_theme_hero {
  background: linear-gradient(to right, #c2ebff, #0b94f1);
}

.hero_section.about_hero {
  padding: 100px 0;
}

.about_hero .founder_desc .name {
  color: var(--primary);
}

.about_hero .founder_desc .name {
  color: var(--primary);
  font-weight: 500;
}

.about_hero .founder_desc .desc {
  color: var(--primary);
  margin: 0;
}

.section.our_team .item {
  text-align: center;
  background: var(--body);
  border-radius: 6px;
  height: 100%;
  max-width: 350px;
  margin: 0 auto;

  transition: all .3s ease;
}

.section.our_team .item:hover {
  -webkit-transform: translateY(calc(-1rem / 5));
  transform: translateY(calc(-1rem / 5));
  -webkit-box-shadow: 0 5px 10px var(--box-shadow);
  box-shadow: 0 5px 10px var(--box-shadow);
}

.section.our_team .item .img img {
  border-radius: 6px 6px 0 0;
}

.section.our_team .item .details {
  padding: 15px;
}

.section.our_team .item .details .name {
  font-size: 22px;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 5px;
}

.section.our_team .item .details .desc {
  font-size: 14px;
  color: var(--font);
  margin: 0;
}





.full_hero_section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px 0;
  color: var(--body);
}

.full_hero_section.our_process {
  background-image: url(../img/our-process/archer-exteriors-process-banner.png);
}

.full_hero_section.reviews {
  background-image: url(../img/reviews/archer-review-banner.png);
}

.full_hero_section.guides {
  background-image: url(../img/guides/archer-banner-home-guide.png);
}




/* Process Steps  */

.steps_wrap {
  position: relative;
  z-index: 0;
}

.steps_wrap:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  width: 2px;
  left: calc(50% - 1px);
  background: var(--primary-light);
  z-index: -11
}

.steps_wrap .item {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0
}

.steps_wrap .item+.item {
  margin-top: 30px
}

.steps_wrap .item:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--primary-light);
  border: 2px solid var(--primary-light);
  z-index: 1;
  transition: ease-in-out 0.2s
}

.steps_wrap .item_head {
  background: var(--body);
  border-radius: 15px;
  padding: 40px;
  width: calc(50% - 80px);
  margin: 0 40px;
  position: relative;
  transition: ease-in-out 0.2s
}

.steps_wrap .item_head .title {
  color: var(--primary);
  margin-bottom: 10px;
}

.steps_wrap .item_head .desc {
  color: var(--font);
  margin: 0;
}

.steps_wrap .item .item_head:hover,
.steps_wrap .item .item_head:hover::after {
  background: var(--primary-light)
}

.steps_wrap .item_head:hover .title {
  color: var(--body);
  margin-bottom: 10px;
}

.steps_wrap .item_head:hover .desc {
  color: var(--bg-light);
  margin: 0;
}

.steps_wrap .item_icon {
  background: transparent !important;
  margin: 0 40px;
}

.steps_wrap .item_icon .item_icon_box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-light);
  border-radius: 50%;
  padding: 20px;
}

.steps_wrap .item_icon .item_icon_box .img {
  width: 60px;
  height: 60px;
}


.steps_wrap .item:nth-of-type(even),
.steps_wrap .item:nth-of-type(even) .item_head {
  flex-direction: row-reverse;
}

.steps_wrap .item_head:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: -15px;
  background: var(--body);
  transition: ease-in-out 0.2s
}

.steps_wrap .item:nth-of-type(even) .item_head:after {
  left: -15px;
  right: auto
}

@media screen and (max-width: 767px) {

  .steps_wrap .item:nth-of-type(2n),
  .steps_wrap .item {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 20px;
  }

  .steps_wrap .item_head {
    width: 100%;
    margin: 0;
  }

  .steps_wrap::before,
  .steps_wrap .item::before,
  .steps_wrap .item_head::after {
    display: none;
  }
}


.execution_list_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.execution_list_items .item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: var(--body);
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  transition: all .3s ease;
}

.execution_list_items .item:hover {
  -webkit-transform: translateY(calc(-1rem / 5));
  transform: translateY(calc(-1rem / 5));
  -webkit-box-shadow: 0 5px 10px var(--box-shadow);
  box-shadow: 0 5px 10px var(--box-shadow);
}

.execution_list_items .item .details h4 {
  font-size: 18px;
  color: var(--primary);
  margin-bottom: 5px;
}

.execution_list_items .item .details p {
  font-size: 14px;
  color: var(--font);
  margin-bottom: 0;
}

.execution_list_items .item .icon img {
  width: 60px;
}


/* Under Construction  */

.under_construction_hero {
  background: linear-gradient(to right, #c2ebff, #0b94f1);
}

.under_construction_hero .contents {
  padding: 100px 0;
  color: var(--primary);
}


/* Recent Works  */


.full_hero_section.recent_work {
  background-image: url(../img/recent-work/archer-recent-work-video-banner.png);
}

.gallery-filters {
  display: flex;
  gap: 10px;
}

.filter-btn {
  padding: 8px 16px;
  background-color: var(--bg-light);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: var(--primary-light);
  color: #fff;
}


.recent_projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.recent_projects .item {
  position: relative;
  transition: all 0.3s ease;
}

.recent_projects .item.hide {
  display: none;
}

.recent_projects img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}


.recent_projects .item .item_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--layer-primary);
  color: #fff;
  padding: 20px;
  border-radius: 6px;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease, transform 0.3s ease;
}

.recent_projects .item:hover .item_layer {
  opacity: 1;
  visibility: visible;
}

.recent_projects .item .item_layer .contents {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}



/* Video Gallery  */

.inline-gallery-container {
  width: 800px;
  height: 500px;
  position: relative;
}


/* Blog Page  */

.blog_main .blog_banner_slider .carousel-inner,
.blog_main .blog_banner_slider .carousel-item img {
  border-radius: 6px;
}

.blog_main .blog_banner_slider .carousel-caption {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding-left: 25px;
  border-radius: 0 0 6px 6px;
}

.blog_main .blog_banner_slider .carousel-caption .tag {
  display: inline-block;
  padding: 6px 20px;
  background: var(--primary-light);
  color: var(--body);
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 10px;
}

.blog_main .blog_banner_slider .carousel-caption h5 {
  font-size: 20px;
  margin-bottom: 25px;
}